/*------------------------------------------------*/
/*-----------------[FOOTER]------------------------*/
/*------------------------------------------------*/


/* =Footer
----------------------------------------------- */

#colophon {
	clear: both;
	padding-top: 1.5em;

	#creditos {
		#site-name-ft {
			text-align: left;
			color: #7A7A7A;
			line-height: 30px;
			margin: 0px auto .85em;

			@media (max-width: 768px) {
				text-align: center;
			}
		}

		#sign-sh { 
			font-size: 100%;
			font-style: inherit;
			font-weight: inherit;
			margin: 0px;
			outline: 0px none;
			padding: 0px;

			a {
				background-image: url(images/dev-by-soluciones-hipermedia.png);
				background-repeat: no-repeat;
				background-size: 30px 60px;
				padding-left: 30px;
				margin-bottom: 10px;
				line-height: 30px;
				color: #7A7A7A;
				text-decoration: none;
				font-size: .85em;
				height: 30px;
				width: 290px;
				font-family: sans-serif;
				margin: 0px auto .85em;
				display: block;
				float: right;
				
				@media (max-width: 768px) {
					float: none;
				}
			}

			a:hover {	
				color: #333;	background-position: 0 bottom;  
			}

		}		
	}	
}



/* Firma SH  */




